<div class="popup" *ngIf="isAuthorized && showWriting">
	<div class="note-container">
		<div class="rightside">
			<div class="close-btn" (click)="closeNote()">
				<svg xmlns="http://www.w3.org/2000/svg" height="55px" viewBox="0 -960 960 960" width="55px" fill="#000000"
					class="close-right">
					<path d="m249-207-42-42 231-231-231-231 42-42 231 231 231-231 42 42-231 231 231 231-42 42-231-231-231 231Z" />
				</svg>
			</div>
			<div class="rightside-container">
				<div class="text-45">hashtag</div>
				<div class="note-item">
					<textarea class="hashtag" placeholder="FEEDBACK" [(ngModel)]="feedback"></textarea>
				</div>
				<button type="submit" class="submit-btn" (click)="submitFeedback()">submit</button>
			</div>
		</div>
	</div>
</div>